<div class="page-title">
  Precautions
</div>
<div class="container">
  <div class="pre">
    <div class="img">
      <div class="bgg">
        <img src="assets/hand.gif" />
      </div>
    </div>
    <div class="title">
      <div class="s1">STAY HOME.SAVE LIVES.</div>
      <div class="s2">Help stop coronavirus</div>
    </div>
    <div class="precon">
      <div class="list">
        <ol>
          <li>STAYhome</li>
          <li>KEEPa safe distance</li>
          <li>WASHhands often</li>
          <li>OVERyour cough</li>
          <li>SICK?Call the helpline</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="cary">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Protect yourself and others around you by knowing the facts and taking appropriate precautions.
          </mat-panel-title>
          <mat-panel-description>
            Follow advice provided by your local public health agency.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <li>
            Maintain a safe distance from anyone who is coughing or sneezing. Don’t touch your eyes, nose or mouth.
          </li>
          <li>
            Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze. Stay home if you feel
            unwell.
          </li>
          <li>
            If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.
          </li>
          <li>
            Follow the directions of your local health authority. Avoiding unneeded visits to medical facilities allows
            healthcare systems to operate more effectively, therefore protecting you and others.
          </li>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
