<app-graph [Context]="Context"></app-graph>
<div [class.dark-theme]="true" class="mat-app-background">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container *ngFor="let x of displayedColumns">
      <ng-container [matColumnDef]="x">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ x }}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="x == 'state'; else notShow">
            <a class="stt" routerLink="/state/{{ element[x] }}">
              {{ element[x] }}
            </a>
          </div>

          <ng-template #notShow>
            {{ element[x] }}
          </ng-template>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #matpage [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10]"> </mat-paginator>
</div>
