// @import '~@angular/material/theming';

// @include mat-core();
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $warn: mat-palette($mat-red);
// $theme: mat-light-theme($primary, $accent, $warn); // Or mat-dark-theme

// @include angular-material-theme($theme);
@import '@angular/material/prebuilt-themes/purple-green.css';
:root {
  --p: #9c27b0;
  --c: #fff;
  --l: #9c27b04a;
  --al: rgba(255, 255, 255, 0.7);
  --b: #303030;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--b);
  color: var(--c);
  user-select: none;
}
a,
.link {
  color: var(--al);
  transition: color 100ms;
  cursor: pointer;
  text-decoration: none !important;
}
a:hover,
.link :hover {
  color: #ce93d8;
}
* {
  outline: none;
}
* {
  font-size: initial;
}
@media (max-width: 767px) {
  // * {
  //   font-size: 11px !important;
  // }
}

.page-title {
  font-size: larger;
  border-left: solid 5px var(--p);
  padding: 13px 8px;
  margin: 13px 0;
}
.foo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #000000b8;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 999;
}
